In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
sym_fea = pd.read_csv("../../../../extract_pubmed/2020_TF-IDF_dropdup.csv",index_col=0)
print(sym_fea.shape)
sym_fea[:2]

(4268, 385)

,Pediatric Obesity,Orthostatic Intolerance,Seizures,Muscle Weakness,Persistent Vegetative State,Chills,Sweating Sickness,Ataxia,Nocturia,Fetal Distress,...,Hypercalciuria,Chronic Pain,Hematemesis,Angina Pectoris,"Vision, Low",Muscle Hypertonia,"Hearing Loss, Functional",Breakthrough Pain,Mutism,Cerebrospinal Fluid Otorrhea
"Nevus, Intradermal",0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Superinfection,0.0,0.0,0.0,0.635781,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.309646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
predict_score = pd.read_csv("../../visualization/model_predictAll_result.csv",index_col=0)

E:\Anaconda\envs\tf2\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

### case1 --Sepsis/Coronavirus Infections

#### sepsis

In [7]:
list(sym_fea.index).index("Sepsis")

1536

In [11]:
sepsis_to_others_score = predict_score.loc[4268*1536:4268*1537-1]
sepsis_to_others_score.index = sym_fea.index
print(sepsis_to_others_score.shape)
sepsis_to_others_score.head()

(4268, 1)

                                  predict_score
Nevus, Intradermal                     0.003913
Superinfection                         0.555936
Coloboma                               0.000785
Abnormalities, Radiation-Induced       0.003942
Bronchial Hyperreactivity              0.066401

In [19]:
sepsis_to_others_score.sort_values(by="predict_score",ascending=False)
sepsis_to_others_score.head()

                                                    predict_score
Eosinophilic Granuloma                                   0.995000
Bisphosphonate-Associated Osteonecrosis of the Jaw       0.994714
Hematuria                                                0.993927
Granuloma, Giant Cell                                    0.992790
Empyema, Pleural                                         0.992364

In [20]:
# sepsis_to_others_score.to_csv("sepsis_to_otherDiseases_score.csv")

#### Coronavirus Infections

In [6]:
print(list(sym_fea.index).index("Coronavirus Infections"))
ci_to_others_score = predict_score.loc[4268*599:4268*600-1]
ci_to_others_score.index = sym_fea.index
print(ci_to_others_score.shape)
ci_to_others_score.head()

599
(4268, 1)

                                  predict_score
Nevus, Intradermal                     0.014005
Superinfection                         0.941535
Coloboma                               0.000302
Abnormalities, Radiation-Induced       0.008768
Bronchial Hyperreactivity              0.304016

In [8]:
ci_to_others_score.sort_values(by="predict_score",ascending=False,inplace=True)
# ci_to_others_score.to_csv("CoronavirusInfections_to_otherDiseases_score.csv")
ci_to_others_score.head()

E:\Anaconda\envs\tf2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                             predict_score
AIDS-Associated Nephropathy       0.994733
Empyema, Pleural                  0.992308
Herpes Labialis                   0.991370
Empyema, Tuberculous              0.989053
Granuloma, Giant Cell             0.984989

### Nutrition Disorders

In [17]:
print(list(sym_fea.index).index("Nutrition Disorders"))
nd_to_others_score = predict_score.loc[4268*1591:4268*1592-1]
nd_to_others_score.index = sym_fea.index
print(nd_to_others_score.shape)
nd_to_others_score.head()

1591
(4268, 1)

                                  predict_score
Nevus, Intradermal                          NaN
Superinfection                              NaN
Coloboma                                    NaN
Abnormalities, Radiation-Induced            NaN
Bronchial Hyperreactivity                   NaN

In [11]:
nd_to_others_score.sort_values(by="predict_score",ascending=False,inplace=True)
# nd_to_others_score.to_csv("NutritionDisorders_to_otherDiseases_score.csv")
nd_to_others_score.head()

E:\Anaconda\envs\tf2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                  predict_score
Nevus, Intradermal                          NaN
Superinfection                              NaN
Coloboma                                    NaN
Abnormalities, Radiation-Induced            NaN
Bronchial Hyperreactivity                   NaN

### case2 --- disease pairs from comorbidity

In [7]:
print(list(sym_fea.index).index("Diabetes Mellitus, Type 2"))
print(list(sym_fea.index).index("Diabetes Mellitus, Type 1"))

348
2052

In [28]:
predict_score.loc[4268*348+2052]

predict_score    0.897585
Name: 1487316, dtype: float64

In [29]:
predict_score.loc[4268*2052+348]

predict_score    0.757827
Name: 8758284, dtype: float64

In [15]:
print(list(sym_fea.index).index("Kidney Failure, Chronic"))

4075

In [17]:
trajectory = pd.read_csv("../disease trajectory/trajectory_after_idtrans.csv",index_col=0)
print(trajectory.shape)
trajectory[:3]

(152, 3)

                        disA                       disB        RR
0  Diabetes Mellitus, Type 2  Diabetes Mellitus, Type 1  6.086008
1  Diabetes Mellitus, Type 2    Kidney Failure, Chronic  2.442088
2     Essential Hypertension    Kidney Failure, Chronic  1.641585

In [19]:
trajectory.sort_values(by="RR",inplace=True,ascending=False)
trajectory[:10]

                          disA                disB         RR
73   Myelodysplastic Syndromes   Leukemia, Myeloid  42.357861
119         Leukemia, Lymphoid   Anemia, Hemolytic  18.565025
81         Tonsillar Neoplasms       Dental Caries  17.830967
24                      Asthma  Status Asthmaticus  17.176378
52          Leukemia, Lymphoid       Herpes Zoster  16.971138
19     Kidney Failure, Chronic         Peritonitis  12.568475
104       Lymphoma, Follicular       Herpes Zoster  12.499761
12   Diabetes Mellitus, Type 1   Diabetes Mellitus  12.281802
69         Renal Insufficiency         Peritonitis  11.281845
57         Laryngeal Neoplasms       Dental Caries   9.420489

In [20]:
# trajectory[:10].to_csv("trajectoryRR_top10")

In [60]:
"""top10，top20，top30"""
# trajectory_top = trajectory[:10]
# trajectory_top = trajectory[:15]
trajectory_top = trajectory[:30]
trajectory_top.reset_index(drop=True,inplace=True) 

top_score = pd.DataFrame()

for ite in tqdm(range(30)):
    disA = trajectory_top.loc[ite,"disA"]
    disB = trajectory_top.loc[ite,"disB"]
    
    disAindex = list(sym_fea.index).index(disA)
    disBindex = list(sym_fea.index).index(disB)
    
    scoreAB = predict_score.loc[disAindex*4268+disBindex]
    scoreBA = predict_score.loc[disBindex*4268+disAindex]
    
    avgscore = (scoreAB+scoreBA)/2
    
    top_score = top_score.append(pd.Series([disA,disB,list(scoreAB)[0],list(scoreBA)[0],list(avgscore)[0]]),ignore_index=True)
    
top_score.columns=["disA","disB","scoreAB","scoreBA","aveScore"]
print(top_score.shape)
top_score

100%|█████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 234.47it/s]

(30, 5)

,disA,disB,scoreAB,scoreBA,aveScore
0,Myelodysplastic Syndromes,"Leukemia, Myeloid",0.743329,0.247336,0.495332
1,"Leukemia, Lymphoid","Anemia, Hemolytic",0.970010,0.796378,0.883194
2,Tonsillar Neoplasms,Dental Caries,0.961520,0.693401,0.827460
3,Asthma,Status Asthmaticus,0.931600,0.934386,0.932993
4,"Leukemia, Lymphoid",Herpes Zoster,0.004160,0.014376,0.009268
5,"Kidney Failure, Chronic",Peritonitis,0.735383,0.783018,0.759200
6,"Lymphoma, Follicular",Herpes Zoster,0.048649,0.090692,0.069671
7,"Diabetes Mellitus, Type 1",Diabetes Mellitus,0.887563,0.890264,0.888914
8,Renal Insufficiency,Peritonitis,0.712544,0.768649,0.740596
9,Laryngeal Neoplasms,Dental Caries,0.948467,0.800699,0.874583
10,"Liver Diseases, Alcoholic",Peritonitis,0.270367,0.157745,0.214056
11,Asthma,Bronchiectasis,0.902135,0.796092,0.849114
12,"Diabetes Mellitus, Type 2",Diabetes Mellitus,0.851596,0.837264,0.844430
13,Multiple Sclerosis,Trigeminal Nerve Diseases,0.906840,0.958855,0.932848
14,"Diabetes Mellitus, Type 2","Diabetes Mellitus, Type 1",0.897585,0.757827,0.827706
15,"Dermatitis, Atopic",Status Asthmaticus,0.177746,0.337823,0.257785
16,Multiple Sclerosis,Cystitis,0.272125,0.017980,0.145052
17,Stroke,Cerebral Hemorrhage,0.723957,0.982595,0.853276
18,Cerebral Hemorrhage,Epilepsy,0.389850,0.546454,0.468152
19,"Diabetes Mellitus, Type 1","Kidney Failure, Chronic",0.809217,0.704483,0.756850
20,Brain Neoplasms,Neoplasms,0.782770,0.713683,0.748227
21,Stomach Ulcer,Stomach Neoplasms,0.734170,0.704794,0.719482
22,"Diabetes Mellitus, Type 1",Renal Insufficiency,0.812870,0.776545,0.794707
23,"Diabetes Mellitus, Type 1",Malabsorption Syndromes,0.947171,0.920703,0.933937
24,Dental Caries,Neoplasms,0.824827,0.618135,0.721481
25,Cardiomyopathies,Gout,0.015588,0.109623,0.062605
26,Gout,"Kidney Failure, Chronic",0.664972,0.269033,0.467002
27,Stroke,Epilepsy,0.234452,0.269896,0.252174
28,Gout,Renal Insufficiency,0.584819,0.270450,0.427635
29,Laryngeal Neoplasms,Esophageal Neoplasms,0.939229,0.335051,0.637140

#### results
- topk: predict score >0.5
    - 7/10
    - 11/15
    - 13/20
    - 19/30

In [61]:
# top_score.to_csv("trajectoryRR_top30_score.csv")