In [1]:
import pandas as pd
import numpy as np

### Original 322 dimensional feature

In [3]:
sym = pd.read_csv("../final/Supplementary Data 3.txt",sep = "\t")
sym.head()

,MeSH Symptom Term,MeSH Disease Term,PubMed occurrence,TFIDF score
0,"Aging, Premature",Respiratory Syncytial Virus Infections,1,3.464551
1,"Aging, Premature",Orthomyxoviridae Infections,1,3.464551
2,"Aging, Premature",HIV Infections,3,10.393654
3,"Aging, Premature",Acquired Immunodeficiency Syndrome,3,10.393654
4,"Aging, Premature",Breast Neoplasms,1,3.464551

In [7]:
sym_old_ls = set(sym["MeSH Symptom Term"])
print(len(sym_old_ls))

322

### New 385 dimensional feature

In [8]:
sym_count = pd.read_csv("sym_PMID_count.csv",index_col=0)
sym_count.head()

,"Aging, Premature",Asthenia,Body Temperature Changes,Fever,Fever of Unknown Origin,Sweating Sickness,Hypothermia,Body Weight,Birth Weight,Fetal Macrosomia,...,"Urinary Incontinence, Stress","Urinary Incontinence, Urge",Oliguria,Polyuria,Proteinuria,Albuminuria,Hemoglobinuria,Urinoma,Virilism,Hirsutism
count,1108,1388,51132,41710,4304,26,9806,472368,41945,2798,...,11463,978,1165,1976,37968,15010,967,128,5182,3652

In [9]:
sym_new_ls = set(sym_count.columns)
print(len(sym_new_ls))

385

### Compare the difference between old and new symptoms

In [10]:
print(len(sym_old_ls & sym_new_ls))

313

In [12]:
dif_sym = sym_old_ls - sym_new_ls
dif_sym

{'Acute Coronary Syndrome',
 'Anoxia',
 'Colic',
 'Coprophagia',
 'Learning Disorders',
 'Mental Retardation',
 'Reflex, Babinski',
 'Respiratory Aspiration',
 'Sleep Disorders'}

In [ ]:
{'Acute Coronary Syndrome',[C14.280.647.124,C14.907.585.124]
 'Anoxia',Hypoxia
 'Colic', [C16.614.166]
 'Coprophagia',[F01.145.113.547.500]
 'Learning Disorders',Learning Disabilities
 'Mental Retardation',Intellectual Disability
 'Reflex, Babinski',Reflex, Abnormal
 'Respiratory Aspiration',[C08.618.749,C23.550.773]
 'Sleep Disorders'}Sleep Wake Disorders

### Diseases involved in the original features

In [4]:
dis_sim = pd.read_csv("../final/dis_sim.csv")
dis_sim.head()

                 disease_A                   disease_B  s_AB (observed)
0  abnormalities, multiple  actinomycetales infections         0.810442
1  abnormalities, multiple              adenocarcinoma         0.306936
2  abnormalities, multiple            adnexal diseases         0.366111
3  abnormalities, multiple      adrenal gland diseases         0.649266
4  abnormalities, multiple                 albuminuria         0.212946

In [7]:
dis_old_ls = set(dis_sim["disease_A"]) | set(dis_sim["disease_B"])
print(len(dis_old_ls))

299

### Diseases involved in the new features

In [9]:
dis_count = pd.read_csv("dis_PMID_count.csv",index_col=0)
dis_count.head()

,22q11 Deletion Syndrome,"46, XX Disorders of Sex Development","46, XX Testicular Disorders of Sex Development",Abdominal Abscess,Abdominal Injuries,Abdominal Neoplasms,Abducens Nerve Diseases,Abducens Nerve Injury,Aberrant Crypt Foci,Abetalipoproteinemia,...,Yersinia Infections,Yersinia pseudotuberculosis Infections,Zellweger Syndrome,Zenker Diverticulum,Zika Virus Infection,Zollinger-Ellison Syndrome,Zoonoses,Zoster Sine Herpete,Zygomatic Fractures,Zygomycosis
count,1929,1870,48,8113,13848,25337,896,76,180,379,...,6494,707,403,774,4398,1707,7730,30,1079,3753

In [10]:
dis_new_ls = set(dis_count.columns.str.lower())#转小写比较
print(len(dis_new_ls))

4536

### Compare new and old diseases
- All diseases involved in the old label are included in the newly extracted diseases (diseases that are not removed and are also symptoms of term) 299/289

In [11]:
common_dis = dis_new_ls & dis_old_ls
print(len(common_dis))

dif_dis = dis_old_ls - dis_new_ls
print(len(dif_dis))
dif_dis

289
10

{'body weight',
 'death',
 'death, sudden',
 'metabolic syndrome x',
 'overweight',
 'pathologic processes',
 'pathological conditions, anatomical',
 'signs and symptoms',
 'sleep disorders',
 'urological manifestations'}

In [23]:
# Export 10 updated diseases
# pd.DataFrame(dif_dis,columns=["dif_dis"]).to_csv("dif_dis.csv")