### Extract disease and symptom entries
new version:
terms need to exclude from disease:
       C22 Animal disease
       C23 all
...symptom： 
        C23.888 Mesh_symptom.txt

In [1]:
from tqdm import tqdm

In [55]:

fo = open("mtrees2020.txt", "r")

disease_file = open("Mesh_disease.txt","w")
symptom_file = open("Mesh_symptom.txt","w")

for line in tqdm(fo.readlines()):
    temlist = line.split(".")
    tem = temlist[0]
    tem1 = ""

    if len(temlist)==1 and tem[-4]=="C":
        print(line)
        disease_file.write(line)
        continue
        

    if tem[-3]=="C":
        if(len(temlist)>1):
            tem1 = temlist[1]
            

        if str(tem[-3:])== "C23" and tem1=="888":
            symptom_file.write(line)
            

        if str(tem[-3:]) in["C22","C23"]:
            continue
            
        disease_file.write(line)
    
    

fo.close()
disease_file.close()
symptom_file.close()

100%|████████████████████████████████████████████████████████████████████████| 60666/60666 [00:00<00:00, 731462.45it/s]

Infections	C01

Neoplasms	C04

Musculoskeletal Diseases	C05

Digestive System Diseases	C06

Stomatognathic Diseases	C07

Respiratory Tract Diseases	C08

Otorhinolaryngologic Diseases	C09

Nervous System Diseases	C10

Eye Diseases	C11

Male Urogenital Diseases	C12

Female Urogenital Diseases and Pregnancy Complications	C13

Cardiovascular Diseases	C14

Hemic and Lymphatic Diseases	C15

Congenital, Hereditary, and Neonatal Diseases and Abnormalities	C16

Skin and Connective Tissue Diseases	C17

Nutritional and Metabolic Diseases	C18

Endocrine System Diseases	C19

Immune System Diseases	C20

Disorders of Environmental Origin	C21

Animal Diseases	C22

Pathological Conditions, Signs and Symptoms	C23

Occupational Diseases	C24

Chemically-Induced Disorders	C25

Wounds and Injuries	C26

### Disease entry deduplication
10943--->4536

In [8]:
import pandas as pd 
import numpy as np

In [56]:
dis = pd.read_csv("Mesh_disease.txt",sep="\t",header=None)
dis.columns=["Mesh_dis_name","Mesh_id"]
print(dis.shape)
dis.head()

(10943, 2)

             Mesh_dis_name      Mesh_id
0               Infections          C01
1       Aneurysm, Infected      C01.069
2    Arthritis, Infectious      C01.100
3      Arthritis, Reactive  C01.100.500
4  Asymptomatic Infections      C01.125

In [57]:
dis_unique = dis.drop_duplicates(subset="Mesh_dis_name",keep="first") #Keep only the first occurrence of duplicates
print(dis_unique.shape)
dis_unique.head()

(4536, 2)

             Mesh_dis_name      Mesh_id
0               Infections          C01
1       Aneurysm, Infected      C01.069
2    Arthritis, Infectious      C01.100
3      Arthritis, Reactive  C01.100.500
4  Asymptomatic Infections      C01.125

In [58]:
# dis_unique.to_csv("Mesh_disease_unique.csv")

### Symptom entry deduplication

In [9]:
sym = pd.read_csv("Mesh_symptom.txt",sep="\t",header=None)
sym.columns=["Mesh_sym_name","Mesh_id"]
print(sym.shape)
sym.head()

(405, 2)

              Mesh_sym_name              Mesh_id
0          Aging, Premature          C23.888.069
1                  Asthenia          C23.888.089
2  Body Temperature Changes          C23.888.119
3                     Fever      C23.888.119.344
4   Fever of Unknown Origin  C23.888.119.344.345

In [11]:
sym_unique = sym.drop_duplicates(subset="Mesh_sym_name",keep="first") 
print(sym_unique.shape)
sym.tail()

(385, 2)

      Mesh_sym_name              Mesh_id
400     Albuminuria  C23.888.942.750.269
401  Hemoglobinuria  C23.888.942.750.634
402         Urinoma      C23.888.942.900
403        Virilism          C23.888.971
404       Hirsutism      C23.888.971.468

In [12]:
# sym_unique.to_csv("Mesh_symptom_unique.csv")